
{% extends "layout.html" %}

{% block content %}
  <div class="jumbotron bg-dark text-light">
    <h1 class="display-4 text-center mb-2">Hello, I'm Web Developer!</h1>
      <p class="lead text-center">This is my First Website in Flask</p>
      <hr class="my-4">
      <p>I create this with Bootstrap.</p>
      <p>
          Lorem ipsum dolor sit amet consectetur 
          adipisicing elit. Obcaecati consequuntur 
          corrupti quas rerum? Dolores dolor aliquid soluta doloremque. 
          Magni dicta ullam quasi quibusdam qui reiciendis quia natus 
          id praesentium neque.
     </p>
     <div class="d-flex justify-content-end">
       <a class="btn btn-outline-info btn-lg" href="/about" role="button">See more</a>
     </div>
  </div>
{% endblock %}
